html  { 
  background: url(/static/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.inner {
	position: absolute;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center !important;
	max-height: 50%;
	margin-top: 55px;
	padding-top: 10px;
}

/*.carousel-item-active {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
  /*---Firefox Bug Fix --*/
  /*.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}*/

/*#aboutpage {
	border-style: solid;
	border-width: 100px;
	border-color: black;
	height: 100%;
	width: 100%;
	margin: 0;
	object-fit: cover;
}

#row {
	background-color:  darkgray;
	height: 100%;
	width: 100%;
	margin: 0;
}*/

.carousel, .carousel-inner {
	min-width: 100vw;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin: 0;
	position: fixed;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 75px;
  width: 75px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .75);
}
.card {
	color: white;
	margin-top: 5px;
	padding-top: -5px;
	font-weight: bold;
	background-color: rgba(128,128,128,.75);
	background-size: cover;
	position: relative;
	margin-bottom: 30px;
	max-height: 30%;
}

.card-title {
	color: white;
	padding: -8px;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: -15px;
}

.card-img-top {
	border-style: solid;
	border-color: rgba(0,0,0,.5);
}

footer {
	color: white;
}

/*.center-block {
	float: none;
}*/

/*.carousel-img {
	width: 100%;
	height: 100%;
}*/

.carousel-inner {
	object-fit: cover;
}}
/*#carouselpic {
	 background: url(/static/images/ian-schneider-TamMbr4okv4-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*#carouselpic {
	width: 50%;
	margin: auto;
}*/

/*.carouselExampleControls {
   float: none;
   margin: 0 auto;
}

.carousel-control-prev-icon {
	height: 50px;
	width: 50px;
}

.carousel-control-next-icon {
	height: 50px;
	width: 50px;
}*/

/*.full-screen-background {
	text-align: center !important;
	width: 100%;
	height: 100vh;
	position: relative;
	background: url(/static/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg) no-repeat center center;
	-webkit-background-size: cover !important;
	-ms-background-size: cover !important;
	-0-background-size: cover !important;
	background-size: cover !important;
}

.full-screen-background, .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: lightgray;
}*/





/*html,
body,
header,
#intro {
	height: 100% !important;
}

#intro {
	background: url(/static/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

 
#topContainer {
	margin-top: 20px;
}

html{
	background: url(/static/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html {
	background: url(/static/images/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

h1 {
	border-style: solid;
	border-color: black;
	background-color: gray;
	color: black;
}*/

