{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to JeffStandridge.org{% endblock %}



{% block content %}
<div class="row">
	<div class="col-md-4">
		<div class="card" style="width: 15rem; height: 14rem">
		  <img style="width: 15rem; height: 14rem;"src="{% static 'images/jeffstandridgecroppedphoto.jpg' %}" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 style="text-align: center" class="card-title">Freelance Software Developer</h5>
		    <p class="card-text">I am passionate about technology, the pursuit of learning, and helping people. I have valuable experience working with customers to solve problems, and working as part of a team.</p>
		    <a href="{% url 'about' %}" class="btn btn-dark">More About Jeff</a>
		  </div>
		</div>
	</div>
</div>
{% endblock %}
